{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}


   <article class= "container mt-5 mb-5 d-flex justify-content-between col-xs-12">
      <div class="container-article">
         <div class="top-article fond_article">
         <div class="etiquette text-center"><h6>Titre de l'article du blog de lisio</h6></div>
         </div>
         <div class="bottom-article">
            <div class="p-2">
               <p class="ppp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit diam sit amet nisi lacinia lobortis. 
               Aliquam odio orci, fermentum sagittis fermentum ut, finibus quis urna. Mauris a sapien at neque pulvinar gravida.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit diam sit amet nisi lacinia lobortis. 
               Aliquam odio orci, fermentum sagittis fermentum ut, finibus quis urna. Mauris a sapien at neque pulvinar gravida.</p>
            </div>
            
            <div class="link-article mb-3 ps-2"><a href="#">En savoir plus ></a></div>
         </div>
      </div>
      {# ARTICLE #}
      <div class="container-article">
         <div class="top-article fond_article">
         <div class="etiquette text-center">{# TEXT #}</div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
      {# ARTICLE #}
      <div class="container-article">
         <div class="top-article fond_article">
         <div class="etiquette"> {# TEXT #} </div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
   </article>
   <article class= "container mb-5 d-flex justify-content-between col-xs-12">
      <div class="container-article">
        <div class="top-article fond_article">
         <div class="etiquette"> {# TEXT #} </div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
      {# ARTICLE #}
      <div class="container-article">
         <div class="top-article fond_article">
         <div class="etiquette"> {# TEXT #} </div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
      {# ARTICLE #}
      <div class="container-article">
        <div class="top-article fond_article">
         <div class="etiquette"> {# TEXT #} </div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
   </article>
   <article class= "container mb-5 d-flex justify-content-between col-xs-12">
      <div class="container-article">
         <div class="top-article fond_article">
         <div class="etiquette"> {# TEXT #} </div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
      {# ARTICLE #}
      <div class="container-article">
        <div class="top-article fond_article">
         <div class="etiquette"> {# TEXT #} </div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
      {# ARTICLE #}
      <div class="container-article">
        <div class="top-article fond_article">
         <div class="etiquette"> {# TEXT #} </div>
         </div>
         <div class="bottom-article">
         </div>
      </div>
   </article>

{% endblock %}
