<div class="nav-scroller py-1 mb2">
	<nav class="nav d-flex justify-content-between">
		<a class="p-2 text-muted" href="#">Tout</a>
		<a class="p-2 text-muted" href="#">Inclusion Numérique</a>
		<a class="p-2 text-muted" href="#">Ecologie Numérique</a>
		<a class="p-2 text-muted" href="#">Numérique Responsable</a>
		<a class="p-2 text-muted" href="#">RSE</a>
	</nav>
</div>

{# <div class="collapse navbar-collapse nav-hover" id="navbarSupportedContent">
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Tout</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Inclusion numérique</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Ecologie numérique</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Numérique responsable</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">RSE</a>
		</li>
	</ul>
</div> #}
